{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content  %}

<div class="container mt-3">
    <div class="col-md-12">
{{ wtf.quick_form(comment_form) }}
 </div>
 </div>

 <hr>
 <br>

<div class="container">

 <h2 class='text-center' style='text-decoration:underline;'>Comments</h2>


{% for items in comment %}

<blockquote class="blockquote">
  <p class="mb-0">{{items.comments}}</p>
  {% if user == current_user %}
   <footer class="blockquote-footer mb-3"><cite title="Source Title">{{user.username}}</cite></footer>
</blockquote>
  {% endif %}
 

<hr>

{% endfor %}

</div>
 



{% endblock  %}