{% extends 'base.html'%}

{% block content %}

<div class="container-fluid">
{% for items in scholarship %}
<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-4">

    <!-- Card -->
<div class="card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title">{{ items.author.username| capitalize }}</h4>
    <hr>
    <!-- Text -->
    <p class="card-text">{{ items.pitch }}</p>

  </div>

  <!-- Card footer -->
  <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
    <ul class="list-unstyled list-inline font-small">
      <li class="list-inline-item pr-2"><a href="/pitches/comments" class="white-text"><i
            class="far fa-comments pr-1 fa-2x"></i>12 Coments</a></li>
      <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="far fa-thumbs-up fa-2x"></i>21 Upvotes</a></li>
      <li class="list-inline-item"><a href="#" class="white-text"><i class="far fa-thumbs-down fa-2x"></i>5 Downvotes</a></li>
    </ul>
  </div>

</div>
<!-- Card -->
        
</div>
</div>
  {% endfor %}
</div>

{% endblock  %}